[submodule "Fake-News-Detection"]
	path = Fake-News-Detection
	url = https://github.com/Jessica-Crystal/Fake-News-Detection
[submodule "topic-modeling-ml"]
	path = topic-modeling-ml
	url = https://github.com/Jessica-Crystal/topic-modeling-ml
[submodule "screening-resume"]
	path = screening-resume
	url = https://github.com/Jessica-Crystal/screening-resume.git
[submodule "Sentiment-Analysis-PR"]
	path = Sentiment-Analysis-PR
	url = https://github.com/Jessica-Crystal/Sentiment-Analysis-PR.git
[submodule "QA-standford"]
	path = QA-standford
	url = https://github.com/Jessica-Crystal/QA-standford.git
