# These folders are ignored Because they are new repos inside of NLP-Projects
#fake-news-detection/ # try to add it as a submodule, so no gitignore anymore for this
named-entity-recognition/
news-classification/
question-answering/
resume-screening/
sentiment-analysis/
text-summarization/
topic-modeling/

